@layout('layouts/main')

@section('conteudo')

@if(usuarios)
<h2 class="mt-5">Todos os Usuários</h2>
<div class="row">
    @each(user in usuarios)
    <div class="col-12 col-md-4 ml-1 mt-3">
        @component('components/card', {
            user: user
            
        })
        <span>{{user.login}}</span>
        @component('components/icon', {
            usuario: user
        })
        @end
        @end
        </div>
    @end
@end 
</div>
@end